
*{
  font-size: 18px;
}
.prediction,.setting {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
.title_text{
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}
.page_title {
  text-align: center;
}

.title_line {
  width: 35px;
  border: 2px solid #613F75;
  margin-left: auto;
  margin-right: auto;
}

.btn_block {
  display: inline-block;
  /* border:1px solid red; */
  vertical-align:text-top;
  margin-top: 30px;
  /* padding-left: 20px; */
}

.upload_btn {
  display: inline-block;
  margin-right: 12px;
}

.table_block {
  margin-top: 15px;
}
.el-button{
  vertical-align: top;
}
.el-form-item__label {
  font-size: 18px !important;
}
.el-checkbox {
  /* text-align: right; */
  width: 100%;
  padding-left: 10px;
}
.filterblock {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}
/* .el-table .cell {
  white-space: nowrap;
  width: fit-content;
} */